.search {
  min-height: 49px;
  background: #171d27;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .icon-block {
    position: absolute;
    left: 50px;
    color: #161515;
    font-size: 24px;
  }
  input {
    width: calc(100% - 80px);
    height: 30px;
    border: 3px solid #39d353;
    border-radius: 20px;
    padding-left: 50px;
    outline: none;
    font-size: 16px;
    color: #6d6d6d;
  }
}
